.image {
	  width: 100%;
	  height: 250px;
	  background-size: cover;
	  background-position: center center;
			}
.image1 {
  background-image: url(https://images.unsplash.com/photo-1451976426598-a7593bd6d0b2?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
}
.image2 {
  background-image: url(https://images.unsplash.com/photo-1465405092061-4db6005a2be0?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=);
}
.image3 {
		background-image: url(https://source.unsplash.com/4uojMEdcwI8);
	}

.image4 {
		background-image: url(https://source.unsplash.com/Dq3LFhdmYcw);
	}
.image5 {
		background-image: url(https://source.unsplash.com/jqaL6w8cUiU);
	}
.image6 {
		background-image: url(https://source.unsplash.com/9R1QOrTRR9s);
	}
	
body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
}

.navbar {
	background-color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}